<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{.Title}}</title>
</head>
<body>
    {{range .Pages}}
    <h1><a href={{.Permalink}}>{{.Title}}</a></h1>
    {{.Content}}
    <hr>
    {{end}}
</body>
</html>